SERVICE_NAME=coupon-service
PORT=8085
DB_HOST=postgres
DB_PORT=5432
DB_NAME=coupon_db
DB_USER=tekno
DB_PASSWORD=tekno123
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_URL=amqp://tekno:tekno123@rabbitmq:5672
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=tekno
RABBITMQ_PASSWORD=tekno123
JWT_SECRET=replace-me
