SERVICE_NAME=promotion-service
PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_NAME=promotion_db
DB_USER=tekno
DB_PASSWORD=tekno123
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
JWT_SECRET=replace-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
